## list로 queue, stack 구현

In [1]:
stack = [3, 4, 5]

stack.append(6)

stack.append(7)

stack

stack.pop()

stack

stack.pop()

stack.pop()

stack

[3, 4]

In [2]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])

queue.append("Terry")           # Terry arrives

queue.append("Graham")          # Graham arrives

queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

deque(['Michael', 'Terry', 'Graham'])

## list comprehension

### 제곱 수의 리스트 만들기

In [3]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 더 간단히

In [5]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### list comprehension에서 for문과 if문 혼용

In [7]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

#### 위와 아래는 같음

In [8]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## list로 구현된 matrix에서 comprehension

In [9]:
matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [10]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### matrix 전치

In [11]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

위와 아래는 같음

In [13]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

위와 아래는 같음

In [14]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [15]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [16]:
list(zip(matrix))

[([1, 2, 3, 4],), ([5, 6, 7, 8],), ([9, 10, 11, 12],)]

In [17]:
list(zip(**matrix))

TypeError: type object argument after ** must be a mapping, not list

### del은 리스트의 한 개, 구간, 전체, 변수 자체를 삭제 할 수 있습니다.

## tuple

In [18]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [19]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [20]:
v[0]

[1, 2, 3]

In [23]:
v[0]

[1, 2, 3]

In [ ]:
v[0][0] = 9
v

# 5.4 집합부터

In [32]:
a = set('abracadabra')
a

{'a', 'b', 'c', 'd', 'r'}

In [33]:
b = set('alacazam')
b

{'a', 'c', 'l', 'm', 'z'}

In [34]:
a - b

{'b', 'd', 'r'}

In [35]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [36]:
a & b

{'a', 'c'}

In [37]:
# ~(a &b)
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [41]:
# list comprehesion과 비슷하게 set comprehension
a = {x for x in 'abracadabra' if x not in 'abc'}

In [43]:
a

{'d', 'r'}

In [46]:
t = []
for x in 'abracadabra' :
    if x not in 'abc' :
        t.append(x)
t

['r', 'd', 'r']

In [47]:
set(t)

{'d', 'r'}

In [50]:
[x for x in 'abracadabra' if x not in 'abc']

['r', 'd', 'r']

In [51]:
{x for x in 'abracadabra' if x not in 'abc'}

{'d', 'r'}

In [52]:
type(a)

set

In [48]:
{t}

TypeError: unhashable type: 'list'

## Dictionary

### dictionary comprehension

In [53]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [54]:
 dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [55]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [61]:
(knights.items())

dict_items([('gallahad', 'the pure'), ('robin', 'the brave')])

In [65]:
type(knights.items())

dict_items

In [66]:
#  enumerate() 함수를 사용하면 위치 인덱스와 대응하는 값을 동시에 얻을 수 있음
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [70]:
type(enumerate(['tic', 'tac', 'toe']))

enumerate

In [73]:
list((enumerate(['tic', 'tac', 'toe'])))

[(0, 'tic'), (1, 'tac'), (2, 'toe')]

In [74]:
# 역순으로 반복문
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [75]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [76]:
basket

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [77]:
sorted(basket)

['apple', 'apple', 'banana', 'orange', 'orange', 'pear']

In [78]:
basket

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

### NaN 처리 방법

In [79]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [80]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [83]:
[x for x in raw_data if not math.isnan(x)]

[56.2, 51.7, 55.3, 52.5, 47.8]

## 비교 연산자인 in, not in 은 sequence 안에 유무를 검사    
## 연산자 is, not is는 두 객체가 진짜로 같은 객체인지 비교   
## 이것은 list와 같은 가변 객체에서만 의미가 있으며 모든 비교 연산자들은 같은 우선 순위를 갖지만 모든 산술 연산자보다는 우선 순위가 낮습니다.
## 비교는 연쇄 가능
### a < b == c : a 가 b 보다 작고, 동시에 b 가 c 와 같은지 검사

## 비교는 논리 연산자 and 와 or 를 사용해서 결합할 수 있고, 비교의 결과는 (또는 그 밖의 모든 논리 표현식은) not 으로 부정될 수 있음
   
## 비교 연산자보다 낮은 우선순위를 갖음
## 이것 간에는 not 이 가장 높은 우선순위를 갖고, or 가 가장 낮아서 A and not B or C 는 (A and (not B)) or C 와 동등합니다. 여느 때처럼, 원하는 조합을 표현하기 위해 괄호를 사용할 수 있습니다.

1. 논리 연산자 and 와 or 는 소위 단락-회로(short-circuit) 연산자입니다: 인자들은 왼쪽에서 오른쪽으로 값이 구해지고, 결과가 결정되자마자 값 구하기는 중단됩니다. 예를 들어, A 와 C 가 참이고 B 가 거짓이면, A and B and C 는 표현식 C 의 값을 구하지 않습니다.   
2. 논리값이 아닌 일반 값으로 사용될 때, 단락-회로 연산자의 반환 값은 마지막으로 값이 구해진 인자입니다.

In [84]:
A = True 
B = False
C = True

In [85]:
A and B and C

False

In [86]:
A and B

False

In [88]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [93]:
(string1, string2, string3)

('', 'Trondheim', 'Hammer Dance')

In [89]:
non_null = string1 or string2 or string3

In [90]:
non_null

'Trondheim'

In [94]:
string2 or string3

'Trondheim'

In [95]:
string3 or string2

'Hammer Dance'